@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
}

@layer utilities {
  .app-background {
    @apply bg-gradient-to-r from-[#19014E] via-[#252290] to-[#2351D9]
  }
}
